<div class="card-title">
    <h1>Applications</h1>
    <p>Coding can be useful !</p>
</div>
<div class="icons-container">
    <div class="icon" [class.active]="currentApp === 'keyboard'" (click)="selectGame('keyboard')">
        <img src="assets/app_icons/keys-mini.svg">
    </div>
    <div class="icon" [class.active]="currentApp === 'diapason'" (click)="selectGame('diapason')">
        <img src="assets/app_icons/diapason.svg">
    </div>
    <div class="icon" [class.active]="currentApp === 'tuner'" (click)="selectGame('tuner')">
        <img src="assets/app_icons/tuner.png">
    </div>
</div>

<div [@routeAnimations]="currentApp">
    <ng-container [ngSwitch]="currentApp">
        <app-diapason *ngSwitchCase="'diapason'" key="diapason" />
        <app-flying-keys-mini *ngSwitchCase="'keyboard'" key="keyboard" />
        <app-tuner *ngSwitchCase="'tuner'" key="tuner" />
    </ng-container>
</div>