<div class="countdown">
  <h1>Countdowns</h1>
  <div class="event-buttons">
    <div *ngFor="let event of events">
      <img [src]="'assets/events/' + event.thumbnail" [class.active]="event.isActive" (click)="setTargetDate(event.date, event.id, event.name)" />
    </div>
  </div>
  <div class="countdown-display">
    <header *ngFor="let event of events">
      @if(event.isActive)
      {
        <img [src]="'assets/events/' + event.thumbnail" [class.active]="event.isActive" 
          (click)="setTargetDate(event.date, event.id, event.name)" />
        <div>
          <h1>{{ event.name }}</h1>
          <h3>Next occurence :</h3>
          <h2> ▸ {{ event.date | date : 'dd MMMM yyyy'}}</h2>
        </div>
      }
    </header>
    <p>Time remaining :</p>
    <h4><b>{{ countdown.months }}</b> months, <b>{{ countdown.days }}</b> days, <b>{{ countdown.hours }}</b> hours, <b>{{ countdown.minutes }}</b> minutes, <b>{{ countdown.seconds }}</b> seconds</h4>
  </div>
</div>

<div class="birthday">
  <input type="date" [(ngModel)]="birthday">
  <button (click)="processDate()">Process</button>
</div>