// TO TOP BUTTON

.spacer {
    height: 250px;
}

.button-top {
    position: fixed;

    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);

    height: 50px;
    width: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid lightgrey;
    border-radius: 10px;

    background-color: rgb(255, 255, 255);

    transition-duration: 300ms;

    z-index: 19;

    img {
        height: 30px;
        width: 30px;
    }
}

.button-top:hover {
    border: 1px solid var(--colorMain);
    background-color: #fff;
    box-shadow: 0px 2px 6px rgba(73, 26, 6, 0.3);

    img {
        cursor: pointer;
    }
}

.button-none {
    bottom: -150px;
}