<h2>Select your Virtual Pet</h2>
<div class="container">
  <div *ngIf="!isSelected" class="center-content">
    <div class="selection">
      <div *ngFor="let pet of pets" class="pet-container">
        <img [src]="'assets/virtual_pet/' + pet.type.toLowerCase() + '.png'" alt="" (click)="selectPet(pet)" class="pet-selection-image" (error)="onImageError($event, pet)">
        <div class="pet-type">{{ pet.type }}</div>
      </div>
    </div>
  </div>

  <div *ngIf="isSelected && !isNamed" class="center-content">
    <img [src]="'assets/virtual_pet/' + pet!.type.toLowerCase() + '.png'" alt="Virtual Pet Image" class="pet-image">
    <h1>Name your {{ pet!.type }}</h1> <!-- Utilisation du non-null assertion operator -->
    <input type="text" [(ngModel)]="name">
    <button (click)="setName(name)">Confirm</button>
  </div>

  <div *ngIf="isNamed && isAlive" class="center-content">
    <h1>{{ name }}</h1>
    <div class="display">
      <img [src]="'assets/virtual_pet/' + pet!.type.toLowerCase() + '.png'" alt="Virtual Pet Image" class="pet-image">
    </div>
    <div class="state">
      <p>🍖 {{ pet!.hunger | number : '3.0' }}</p>
      <p>😀 {{ pet!.happiness | number : '3.0' }}</p>
      <p>💦 {{ pet!.cleanliness | number : '3.0' }}</p>
    </div>
    <div class="buttons">
      <div (click)="feed()">Feed</div>
      <div (click)="play()">Play</div>
      <div (click)="clean()">Clean</div>
    </div>
  </div>

  <div *ngIf="isNamed && !isAlive" class="center-content">
    <h1>{{ name }} is dead.</h1>
    <img [src]="'assets/virtual_pet/' + pet!.type.toLowerCase() + '_dead.png'" alt="Virtual Pet Image" class="pet-image">
    <button (click)="restart()">Restart</button>
  </div>
  
  <div *ngIf="message" class="center-content">
    <p>{{ message }}</p>
  </div>
</div>