<div class="card-title">
    <p>Additionally, you can find :</p>
</div>
<div class="line">
    <div>
        <img src="assets/app_icons/resume.png" />
        <p>My online resume :</p>
    </div>
    <a target="_blank" href="https://cv.flyingpad.be"> ▸ https://cv.flyingpad.be</a>
</div>
<div class="line">
    <div>
        <img src="assets/app_icons/flying-pad.png" />
        <p>My main project :</p>
    </div>
    <a target="_blank" href="https://www.flyingpad.be"> ▸ https://www.flyingpad.be</a>
</div>