<h1 class="h1">{{ 'title.settings' | translate }}</h1>
<hr class="dialog-hr">
<p class="p">{{ 'message.settings-short' | translate }}</p>

<div class="settings">
    <div class="row">
        <p><b>{{ 'title.display-mode' | translate }}</b></p>
        <p *ngIf="displayInfos().mode === 'Desktop'">{{ 'title.desktop' | translate }}</p>
        <p *ngIf="displayInfos().mode === 'Mobile'">{{ 'title.mobile' | translate }}</p>
    </div>

    <div class="row">
        <p><b>{{ 'title.window-size' | translate }}</b></p>
        <p>{{ displayInfos().width }} x {{ displayInfos().height }} px</p>
    </div>

    <div class="row">
        <p><b>Orientation</b></p>
        <p *ngIf="displayInfos().orientation === 'Landscape'">{{ 'title.landscape' | translate }}</p>
        <p *ngIf="displayInfos().orientation === 'Portrait'">Portrait</p>
        <p *ngIf="displayInfos().orientation === 'Square'">{{ 'title.square' | translate }}</p>
    </div>

    @if(displayInfos().mode === 'Desktop') {
        <div class="row">
            <p><b>{{ 'title.full-screen' | translate }}</b></p>
            <p class="button" *ngIf="isFullScreen() === true" (click)="toggleFullScreen()">{{ 'title.disable' | translate }}
            </p>
            <p class="button" *ngIf="isFullScreen() === false" (click)="toggleFullScreen()">{{ 'title.enable' | translate }}
            </p>
        </div>
    }

    <div class="row">
        <p><b>{{ 'title.language' | translate }}</b></p>
        <div class="dropdown-wrapper">
            <div class="button languages" (click)="languageMenuToggle()">
                <img [src]="getImageURL(false, 'icons-flags', currentLanguage(), 'png')" alt="flag" />
                <p>
                    {{ currentLanguage() === 'fr' ? 'Français' : 'English' }}
                </p>
                <span class="arrow" [class.active]="isLanguageMenuON"></span>
            </div>

            @if(isLanguageMenuON) {
                <div class="dropdown-menu">
                    <div class="dropdown-item" *ngFor="let language of supportedLanguages"
                        [class.active]="currentLanguage() === language" (click)="switchLanguage(language)">
                        <img [src]="getImageURL(false, 'icons-flags', language, 'png')" />
                        <span>{{ language === 'fr' ? 'Français' : 'English' }}</span>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="row">
        <p><b>{{ 'title.theme' | translate }}</b></p>
        <select id="themeSelect" class="button" [ngModel]="currentThemeKey()" (ngModelChange)="changeTheme($event)">
            <option *ngFor="let themeKey of themeKeys" [ngValue]="themeKey">
                {{ themeKey }}
            </option>
        </select>
    </div>

    <div class="row">
        <p><b>{{ 'title.default-settings' | translate }}</b></p>
        <p class="button" (click)="factorySettings()">{{ 'title.restore' | translate }}</p>
    </div>
</div>

<app-spacer height="175px" />

<app-bottom-bar>
    <app-bottom-icon-back />
</app-bottom-bar>