<h2>Convertors</h2>

<div class="toggle" [class.toggle-active]="temperature" (click)="temperatureToggle()">
  <span><b>Temperature</b></span>
  <span>°C / °F</span>
</div>
@if(temperature){
  <div class="convertor">
    <form [formGroup]="temperatureForm">
      <label for="tempFromUnit">From </label>
      <select id="tempFromUnit" formControlName="fromUnit">
        <option *ngFor="let unit of temperatureUnits" [value]="unit"> {{unit}}</option>
      </select>
      <label for="tempToUnit"> To {{ toTemperatureUnit }}</label>
      <input id="tempValue" formControlName="value" type="number">
      <p> = {{ temperatureForm.value.value | convertTemperature : temperatureForm.value.fromUnit:temperatureForm.value.toUnit }}</p>
    </form>
  </div>
}

<div class="toggle" [class.toggle-active]="distance" (click)="distanceToggle()">
  <span><b>Distance</b></span>
  <span>km / mi</span>
</div>
@if(distance){
  <div class="convertor">
    <form [formGroup]="distanceForm">
      <label for="distFromUnit">From </label>
      <select id="distFromUnit" formControlName="fromUnit">
        <option *ngFor="let unit of distanceUnits" [value]="unit"> {{unit}}</option>
      </select>
      <label for="distToUnit"> To {{ toDistanceUnit }}</label>
      <input id="distValue" formControlName="value" type="number">
      <p> = {{ distanceForm.value.value | convertDistance:distanceForm.value.fromUnit:distanceForm.value.toUnit }}</p>
    </form>
  </div>
}

<div class="toggle" [class.toggle-active]="mass" (click)="massToggle()">
  <span><b>Mass</b></span>
  <span>kg / lb</span>
</div>
@if(mass){
  <div class="convertor">
    <form [formGroup]="massForm">
      <label for="massFromUnit">From </label>
      <select id="massFromUnit" formControlName="fromUnit">
        <option *ngFor="let unit of massUnits" [value]="unit"> {{unit}}</option>
      </select>
      <label for="massToUnit"> To {{ toMassUnit }}</label>
      <input id="massValue" formControlName="value" type="number">
      <p> = {{ massForm.value.value | convertMass:massForm.value.fromUnit:massForm.value.toUnit }}</p>
    </form>
  </div>
}

<div class="toggle" [class.toggle-active]="volume" (click)="volumeToggle()">
  <span><b>Volume</b></span>
  <span>l / gal</span>
</div>
@if(volume){
  <div class="convertor">
    <form [formGroup]="volumeForm">
      <label for="volumeFromUnit">From </label>
      <select id="volumeFromUnit" formControlName="fromUnit">
        <option *ngFor="let unit of volumeUnits" [value]="unit"> {{unit}}</option>
      </select>
      <label for="volumeToUnit"> To {{ toVolumeUnit }}</label>
      <input id="volumeValue" formControlName="value" type="number">
      <p> = {{ volumeForm.value.value | convertVolume:volumeForm.value.fromUnit:volumeForm.value.toUnit }}</p>
    </form>
  </div>
}