<h1>Leap Year</h1>
<div class="leap-year" [formGroup]="form">
    <input type="text" formControlName="year" placeholder="Enter a year" aria-label="Year input">
    <div *ngIf="form.get('year')?.errors?.['required']" class="error">Year is required.</div>
    <div *ngIf="form.get('year')?.errors?.['min']" class="error">Please enter a valid year below 5000000000.</div>
    <div *ngIf="form.get('year')?.errors?.['max']" class="error">Please enter a valid year above -4500000000.</div>

    <p *ngIf="isALeapYear === true">{{ form.get('year')?.value }} <span class="green">is a leap year!</span></p>
    <p *ngIf="isALeapYear === false">{{ form.get('year')?.value }} <span class="red">is not a leap year!</span></p>
    <p *ngIf="isALeapYear === undefined">Please, enter a valid year...</p>
</div>

<div class="box">
    <p>A leap year has an extra day, February 29, to keep the calendar aligned with the Earth's orbit around the Sun, which takes about 365.25 days.</p>
</div>
<div class="box">
    <p>A year is a leap year if it is divisible by 4. However, if the year is divisible by 100, it must also be divisible by 400. For example, 2000 is a leap year, but 1900 is not.</p>
</div>

<img src="assets/img/sun.webp" />