.leap-info {
    width: 600px;
    margin: auto;
    margin-bottom: 15px;

    background-color: var(--colorWhiteOpacity7);
    border: 5px solid var(--colorMainOpacity8);
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 3px 4px 0px var(--colorMainOpacity3);

    padding: 17px;

    p {
        margin: 3px;
        color: var(--colorMain);
    }
}

img {
    display: block;
    width: 600px;
    margin: auto;

    border: 5px solid var(--colorMainOpacity8);
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 3px 4px 0px var(--colorMainOpacity3);
}

@media (max-width: 600px) {
    .leap-info {
        width: 100%;
        border-radius: 0;
        border-left: 0; border-right: 0;
    }

    img {
        width: 100%;
        border-radius: 0;
        border-left: 0; border-right: 0;
    }
}

.leap-year {
    width: 200px;

    margin: auto;
    padding: 25px;

    background-color: var(--colorMainOpacity2);
    border: 5px solid var(--colorMain);
    border-radius: 15px 15px 0 0;
    border-bottom: 0;

    p {
        text-align: center;
        font-size: 17px;
    }

    .red {
        color: darkred;
    }

    .green {
        color: darkgreen;
    }

    input {
        width: calc(100% - 25px);
        padding: 10px;
        border-radius: 5px;
        text-align: left;
        font-size: 20px;
    }

    input:focus {
        outline: none;
        border: 2px solid var(--colorMain);
    }

    a {
        display: block;
        width: 120px;
        margin: auto;
        text-decoration: none;
        background-color: var(--colorMainOpacity2);
        color: var(--colorMain);
        border-radius: 5px;
        padding: 10px;
        text-align: center;
    }

    a:hover {
        background-color: var(--colorMainOpacity2);
        color: var(--colorWhite);
        transition-duration: 500ms;
    }

    .active {
        background-color: var(--colorMainOpacity4);
        color: var(--colorWhite);
    }
}