<h1 class="h1">Leap Year</h1>
<div class="row-white">
    <div class="buttons">
        <app-button-back></app-button-back>
    </div>
</div>
<div class="box">
    <p>The Earth takes approximately 365.25 days to orbit the Sun, which is known as a solar year. However, a calendar
        year has 365 days.</p>
    <p>The remaining 0.25 days accumulate each year, which means that after four years, we have an extra day (0.25 days
        x 4 = 1 day).</p>
    <p>To compensate for this difference, we add a day to the month of February every four years, making it 29 days
        instead of 28.</p>
    <p>This is called a leap year.</p>
</div>
<div class="leap-year" [formGroup]="form">
    <input type="number" formControlName="year" aria-label="Year input">
    <div *ngIf="form.get('year')?.errors?.['required']" class="error">Year is required.</div>
    <div *ngIf="form.get('year')?.errors?.['min']" class="error">Please enter a valid year below 5000000000.</div>
    <div *ngIf="form.get('year')?.errors?.['max']" class="error">Please enter a valid year above -4500000000.</div>

    <p *ngIf="isALeapYear === true">{{ form.get('year')?.value }} <span class="green">is a leap year!</span></p>
    <p *ngIf="isALeapYear === false">{{ form.get('year')?.value }} <span class="red">is not a leap year!</span></p>
    <p *ngIf="isALeapYear === undefined">Please, enter a valid year...</p>
</div>
<img src="assets/img/sun.webp" />
<div class="box">
    <p>A year is a leap year if it is divisible by 4.</p>
    <p>However, if the year is divisible by 100, it is not a leap year, unless it is also divisible by 400.</p>
    <p>This rule exists because the Earth takes about 365.2425 days to orbit the Sun, not exactly 365.25 days.</p>
    <p>If we only used the rule of being divisible by 4, we would add too many extra days over centuries (0.0075 days
        per year).</p>
    <p>By skipping leap years that are divisible by 100, we correct this overcompensation. But we also need to account
        for the fact that we slightly undercorrect, so years divisible by 400 are leap years to adjust accurately.</p>
    <p>This fine-tuning keeps our calendar in sync with the Earth's orbit over long periods.</p>
</div>
<app-button-top />
<div class="spacer-150"></div>