<div class="card-title">
    <h1>Exercises</h1>
    <p>Coding can be interesting !</p>
</div>
<div class="icons-container">
    <div class="icon" (click)="selectTool('countdown')" [class.active]="currentExercise === 'countdown'">
        1
    </div>
    <div class="icon" (click)="selectTool('leapYear')" [class.active]="currentExercise === 'leapYear'">
        2
    </div>
    <div class="icon" (click)="selectTool('chordWheel')" [class.active]="currentExercise === 'chordWheel'">
        <img src="assets/app_icons/chord_wheel.png" />
    </div>
</div>

<div [@routeAnimations]="currentExercise">
    <ng-container [ngSwitch]="currentExercise">
        <app-countdown *ngSwitchCase="'countdown'" key="countdown" />
        <app-leap-year  *ngSwitchCase="'leapYear'" key="leapYear" />
        <app-chord-wheel  *ngSwitchCase="'chordWheel'" key="chordWheel" />
    </ng-container>
</div>