.menu-exercises{
    display: flex;
    justify-content: center;
    
    a{
        width: 120px;
        text-decoration: none;
        background-color: rgb(0, 0, 0, 0.1);
        color: black;
        border-radius: 5px;
        padding: 10px;
        margin-right: 10px;
        text-align: center;
    }
    a:hover:not(.active){
        background-color: rgb(0, 0, 0, 0.3);
        color: white;
        transition-duration: 500ms;
        cursor: pointer;
    }
    .active{
        background-color: rgb(0, 0, 0, 0.4);
        color: white;
    }
}