<div class="diapason">
    <img appAnimSpin src="../../../../assets/app_icons/diapason.svg" (click)="playNote()" alt="Diapason icon">
</div>
<div class="volume">
    <p><b>Volume</b></p>  
    <div class="slider">
        <input 
            type="range"
            min="0"
            max="1"
            step="0.01"
            [(ngModel)]="currentVolume"
            (blur)="validateVolume()"
            aria-label="Volume"
        />
    </div>
</div>
<div class="volume">
    <p><b>Tune</b></p>  
    <div class="slider">
        <input 
            type="range"
            min="415.3"
            max="466.16"
            step="0.01"
            [(ngModel)]="frequency"
            (blur)="validateFrequency()"
            aria-label="Tune Frequency"
        />
    </div>
</div>
<div class="frequency">
    <input 
        type="number"
        min="415.3"
        max="466.16"
        step="0.01"
        [(ngModel)]="frequency"
        (blur)="validateFrequency()"
        aria-label="Frequency"
    >
    <h1>Hertz</h1> 
    <div class="reset" (click)="resetTune()">RESET</div>
</div>
<div class="bottom-box"></div>