<h2>Circle of Fifths</h2>
<div id="composition">
  <div id="container">
    <svg #wheel class="wheel" viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg">
      <!-- Cellule C -->
      <g id="cellC" transform="rotate(0, 150, 150)">
        <path d="M 113.77 14.77 A 140 140 0 0 1 186.23 14.77 L 175.88 53.41 A 100 100 0 0 0 124.12 53.41 Z"
          fill="#FFFF00" stroke="black" stroke-width="1" opacity="0.5" />
        <text x="150" y="30" text-anchor="middle" dominant-baseline="middle" fill="black">
          C
        </text>
      </g>
      <!-- Cellule G -->
      <g id="cellG" transform="rotate(30, 150, 150)">
        <path d="M 113.77 14.77 A 140 140 0 0 1 186.23 14.77 L 175.88 53.41 A 100 100 0 0 0 124.12 53.41 Z"
          fill="#80FF00" stroke="black" stroke-width="1" opacity="0.5" />
        <text x="150" y="30" text-anchor="middle" dominant-baseline="middle" fill="black">
          G
        </text>
      </g>
      <!-- Cellule D -->
      <g id="cellD" transform="rotate(60, 150, 150)">
        <path d="M 113.77 14.77 A 140 140 0 0 1 186.23 14.77 L 175.88 53.41 A 100 100 0 0 0 124.12 53.41 Z"
          fill="#00FF00" stroke="black" stroke-width="1" opacity="0.5" />
        <text x="150" y="30" text-anchor="middle" dominant-baseline="middle" fill="black">
          D
        </text>
      </g>
      <!-- Cellule A -->
      <g id="cellA" transform="rotate(90, 150, 150)">
        <path d="M 113.77 14.77 A 140 140 0 0 1 186.23 14.77 L 175.88 53.41 A 100 100 0 0 0 124.12 53.41 Z"
          fill="#00FF80" stroke="black" stroke-width="1" opacity="0.5" />
        <text x="150" y="30" text-anchor="middle" dominant-baseline="middle" fill="black">
          A
        </text>
      </g>
      <!-- Cellule E -->
      <g id="cellE" transform="rotate(120, 150, 150)">
        <path d="M 113.77 14.77 A 140 140 0 0 1 186.23 14.77 L 175.88 53.41 A 100 100 0 0 0 124.12 53.41 Z"
          fill="#00FFFF" stroke="black" stroke-width="1" opacity="0.5" />
        <text x="150" y="30" text-anchor="middle" dominant-baseline="middle" fill="black">
          E
        </text>
      </g>
      <!-- Cellule B -->
      <g id="cellB" transform="rotate(150, 150, 150)">
        <path d="M 113.77 14.77 A 140 140 0 0 1 186.23 14.77 L 175.88 53.41 A 100 100 0 0 0 124.12 53.41 Z"
          fill="#0080FF" stroke="black" stroke-width="1" opacity="0.5" />
        <text x="150" y="30" text-anchor="middle" dominant-baseline="middle" fill="black">
          B
        </text>
      </g>
      <!-- Cellule F# -->
      <g id="cellFSharp" transform="rotate(180, 150, 150)">
        <path d="M 113.77 14.77 A 140 140 0 0 1 186.23 14.77 L 175.88 53.41 A 100 100 0 0 0 124.12 53.41 Z"
          fill="#0000FF" stroke="black" stroke-width="1" opacity="0.5" />
        <text x="150" y="30" text-anchor="middle" dominant-baseline="middle" fill="black">
          F#
        </text>
      </g>
      <!-- Cellule C# -->
      <g id="cellCSharp" transform="rotate(210, 150, 150)">
        <path d="M 113.77 14.77 A 140 140 0 0 1 186.23 14.77 L 175.88 53.41 A 100 100 0 0 0 124.12 53.41 Z"
          fill="#8000FF" stroke="black" stroke-width="1" opacity="0.5" />
        <text x="150" y="30" text-anchor="middle" dominant-baseline="middle" fill="black">
          C#
        </text>
      </g>
      <!-- Cellule G# -->
      <g id="cellGSharp" transform="rotate(240, 150, 150)">
        <path d="M 113.77 14.77 A 140 140 0 0 1 186.23 14.77 L 175.88 53.41 A 100 100 0 0 0 124.12 53.41 Z"
          fill="#FF00FF" stroke="black" stroke-width="1" opacity="0.5" />
        <text x="150" y="30" text-anchor="middle" dominant-baseline="middle" fill="black">
          G#
        </text>
      </g>
      <!-- Cellule D# -->
      <g id="cellDSharp" transform="rotate(270, 150, 150)">
        <path d="M 113.77 14.77 A 140 140 0 0 1 186.23 14.77 L 175.88 53.41 A 100 100 0 0 0 124.12 53.41 Z"
          fill="#FF0080" stroke="black" stroke-width="1" opacity="0.5" />
        <text x="150" y="30" text-anchor="middle" dominant-baseline="middle" fill="black">
          D#
        </text>
      </g>
      <!-- Cellule A# -->
      <g id="cellASharp" transform="rotate(300, 150, 150)">
        <path d="M 113.77 14.77 A 140 140 0 0 1 186.23 14.77 L 175.88 53.41 A 100 100 0 0 0 124.12 53.41 Z"
          fill="#FF0000" stroke="black" stroke-width="1" opacity="0.5" />
        <text x="150" y="30" text-anchor="middle" dominant-baseline="middle" fill="black">
          A#
        </text>
      </g>
      <!-- Cellule F -->
      <g id="cellF" transform="rotate(330, 150, 150)">
        <path d="M 113.77 14.77 A 140 140 0 0 1 186.23 14.77 L 175.88 53.41 A 100 100 0 0 0 124.12 53.41 Z"
          fill="#FF8000" stroke="black" stroke-width="1" opacity="0.5" />
        <text x="150" y="30" text-anchor="middle" dominant-baseline="middle" fill="black">
          F
        </text>
      </g>
    </svg>

    <svg viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg">
      <!-- Focus -->
      <g id="focus" transform="rotate(0, 150, 150)">
        <path d="M 113.77 14.77 A 140 140 0 0 1 186.23 14.77 L 175.88 53.41 A 100 100 0 0 0 124.12 53.41 Z"
          fill="rgba(255, 255, 255, 0.7)" stroke="black" stroke-width="3" opacity="0.5" />
      </g>
    </svg>

  </div>
</div>

<div class="bottom-bar-larger">
  <a (click)="rotateToLeft()"><img appAnimGrow src="../../../../assets/app_icons/arrow_left.png" /></a>
  <a (click)="randomPosition()"><img appAnimRandom src="../../../../assets/app_icons/random.png" /></a>
  <a (click)="rotateToRight()"><img appAnimGrow src="../../../../assets/app_icons/arrow_right.png" /></a>
</div>