<div class="card-title">
    <h1>About</h1>
    <p>Additionally, you can find :</p>
</div>

<div class="card-about">
    <img src="assets/app_icons/resume.png" />
    <div class="info">
        <p>My <b>online resume</b> :</p>
        <a target="_blank" href="https://cv.flyingpad.be"> ▸ https://cv.flyingpad.be</a>
    </div>
</div>

<div class="card-about">
    <img src="assets/app_icons/flying-pad.png" />
    <div class="info">
        <p>My <b>main project</b> :</p>
        <a target="_blank" href="https://www.flyingpad.be"> ▸ https://www.flyingpad.be</a>
    </div>
</div>