.toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 180px;
    margin: auto;
    padding: 10px;

    border: 3px solid var(--colorMain);
    border-radius: 10px;
    background-color: var(--colorMainOpacity2);

    margin-bottom: 15px;

    color: var(--colorMain);
    cursor: pointer;

    span {
        margin: 5px;
    }
}

.toggle:hover {
    background-color: var(--colorWhite);
}

.toggle-active {
    border-radius: 10px 10px 0 0;
    border-bottom: none;
    margin-bottom: 0;
    background-color: var(--colorWhiteOpacity5);
}

.convertors {
    .convertor {
        width: 280px;
        margin: auto;

        margin-bottom: 15px;

        border: 3px solid var(--colorMain);
        border-radius: 10px;
        background-color: var(--colorWhiteOpacity5);

        padding: 15px;
        color: var(--colorMain);

        input {
            width: calc(100% - 25px);

            margin-top: 15px;
            padding: 10px;

            border-radius: 5px;

            text-align: right;
            font-size: 20px;
            color: var(--colorMain);
        }

        input:focus {
            outline: none;
            border: 2px solid var(--colorMain);
        }

        p {
            font-size: 19px;
        }
    }
}