.menu-navigation{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    
    a{
        background-color: rgb(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 5px;
        margin: 10px;
        border: 1px solid rgb(107, 82, 64, 0.3);

        img{
            height: 40px;
            width: 40px;
        }
    }
    a:hover:not(.active){
        background-color: rgb(0, 0, 0, 0.3);
        transition-duration: 500ms;
    }
    .active{
        background-color: rgb(0, 0, 0, 0.4);
        border: 1px solid #6b5240;
        cursor: default;
    }
}