<div class="icons-container">
    <div class="icon" routerLink="/home" routerLinkActive="active">
        <img src="assets/app_icons/icon_home_001.png" />
    </div>
    <div class="icon" routerLink="/exercises" routerLinkActive="active">
        <img src="assets/app_icons/exercises.png" />
    </div>
    <div class="icon" routerLink="/games" routerLinkActive="active">
        <img src="assets/app_icons/games.png" />
    </div>
    <div class="icon" routerLink="/applications" routerLinkActive="active">
        <img src="assets/app_icons/icon_moods_001.png" />
    </div>
</div>