<h1>Mini Keyboard</h1>
<div id="layout-central">
    <div id="keyboard">
        <div class="volume">
            <p><b>Volume</b></p>  
            <div class="slider">
                <input 
                    type="range"
                    min="0"
                    max="1"
                    step="0.01"
                    [(ngModel)]="currentVolume"
                />
            </div>
        </div>
        <div class="station-controls">
            <section>
                <p (click)="triggerShowNotes(keyStation)" class="button" [ngClass]="keyStation.showNotes ? 'button-active' : '' ">EN</p>
                <p (click)="triggerShowNotesFr(keyStation)" class="button righty" [ngClass]="keyStation.showNotesFr ? 'button-active' : '' ">FR</p>  
                <div *ngIf="!keyStation.showNotes && !keyStation.showNotesFr ">
                    <p (click)="triggerShowEnharmony(keyStation)" class="button button-disabled">Enharmony</p>  
                </div>
                <div *ngIf="keyStation.showNotes || keyStation.showNotesFr ">
                    <p (click)="triggerShowEnharmony(keyStation)" class="button" [ngClass]="keyStation.showEnharmony ? 'button-active' : '' ">Enharmony</p>  
                </div>
                <p (click)="triggerShowFrequencies(keyStation)" class="button" [ngClass]="keyStation.showFrequency ? 'button-active' : '' ">Frequency</p>  
            </section>
        </div>
        <div class="station">
            <div class="note-container" *ngFor="let note of keyStation.notes">
                <div *ngIf="note.alteration === false">
                    <div class="white note"
                        [ngClass]="{'white-active' : note.pressed}"
                        (click)="playNote(keyStation, note, 0.5)">           

                        <div *ngIf="showNotes">
                            <p *ngIf="keyStation.showNotesFr">{{note.nameFr}}</p>
                            <p *ngIf="keyStation.showNotes">{{note.name}}</p>
                            <p class="frequency" *ngIf="keyStation.showFrequency">{{note.frequency | number : '3.2'}} Hz</p>
                        </div>
                    </div>
                </div>
                <div *ngIf="note.alteration === true">
                    <div class="black note" 
                        [ngClass]="{'black-active' : note.pressed}"
                        (click)="playNote(keyStation, note, 0.5)">        
                        <div *ngIf="showNotes">
                            <p *ngIf="keyStation.showNotesFr">
                                {{note.nameFr}}
                                <span *ngIf="keyStation.showEnharmony"> | {{note.enharmonyFr}}</span>
                            </p>
                            <p *ngIf="keyStation.showNotes">
                                {{note.name}}
                                <span *ngIf="keyStation.showEnharmony"> | {{note.enharmony}}</span>
                            </p>
                            <p class="frequency" *ngIf="keyStation.showFrequency">{{note.frequency | number : '3.2'}} Hz</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottom-box"></div>