html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: var(--colorMainOpacity7);
    
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    max-width: 100vw;
    height: 100%;
    background-color: var(--colorBackground);
    font-family: var(--fontFamily);
    box-sizing: border-box;
    transition: background-color 1s ease, color 1s ease;
    position: relative;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--texture001) repeat top left;
    opacity: 1;
    z-index: -1;
    transition: opacity 1s ease;
}

body.fade-background::before {
    opacity: 0;
}

.content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
    z-index: 1;
}

.h1 {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;

    font-size: 19px;
    font-weight: normal;
    text-align: center;
    letter-spacing: 1px;

    color: var(--colorMain);
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

.h2 {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;

    font-size: 17px;
    font-weight: normal;
    text-align: center;
    letter-spacing: 1px;

    color: var(--colorMain);
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.222);
}

.p {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;

    color: var(--colorMain);
    text-align: center;
}

// Rows.
.row-white {
    margin-top: 15px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.4);
}

// Spacers.
.spacer-75 {
    height: 75px;
}
.spacer-150 {
    height: 150px;
}

// Buttons.
.buttons {
    display: flex;
    justify-content: center;
    text-align: center;

    .button {
        display: block;
        width: 100px;

        background-color: var(--colorMain);
        border: 1px solid var(--colorMain);
        border-radius: 5px;
        box-shadow: 0px 2px 4px var(--colorMainOpacity2);

        padding: 8px;
        margin: 8px;

        text-align: center;
        letter-spacing: 1px;
        color: #ffffff;
        font-size: 14px;
    }

    .button:hover {
        background-color: var(--colorWhite);
        color: var(--colorMain);
        cursor: pointer;
        transition-duration: 500ms;
    }

    .button-active {
        background-color: rgb(255, 255, 255);
        color: var(--colorMain);
    }
}

.box {
    width: 500px;
    margin: auto;
    margin-top: 35px;

    p {
        color: var(--colorMain);
        text-indent: 15px;
    }
}

@media (max-width: 500px) {
    .box {
        width: 90%;
    }
}

.card-title {
    width: 300px;
    margin: auto;

    h1 {
        color: var(--colorMain);
        text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
        letter-spacing: 2px;
        text-align: center;
        font-size: 25px;
    }

    p {
        text-indent: 15px;
        color: var(--colorMain);
    }
}

.icons-container {
    display: flex;
    justify-content: center;

    .icon {
        min-height: 45px;
        max-height: 45px;
        min-width: 45px;
        max-width: 45px;

        background-color: rgb(0, 0, 0, 0.3);
        border: 1px solid var(--colorMainOpacity3);
        border-radius: 5px;
        box-shadow: 0 3px 4px 0px rgba(80, 42, 14, 0.3);

        padding: 5px;
        margin: 7px;

        img {
            width: 100%;
            height: 100%;
            opacity: 0.5;
        }
    }

    .icon:hover:not(.active) {
        background-color: rgb(0, 0, 0, 0.1);
        border: 1px solid var(--colorMainOpacity7);
        opacity: 0.9;
        transition-duration: 500ms;
        cursor: pointer;
    }

    .active {
        background-color: rgb(0, 0, 0, 0.1);
        border: 1px solid var(--colorMain);
        opacity: 1;
    }
}

.card-about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 500px;
    margin: auto;
    margin-bottom: 15px;

    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 15px;
    box-shadow: 0 3px 4px 0px rgba(80, 42, 14, 0.3);

    img{
        width: 85px;
        margin: 15px;
    }

    .info{
        width: 200px;
        margin: 15px;

        p{
            color: var(--colorMain);
            opacity: 1;
            text-align: left;
        }
        a{
            color: var(--colorMain);
            opacity: 1;
            text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
        }
    }
}

@media screen and (max-width: 500px){
    .card-about{
        width: 100%;
        border-radius: 0;
    }
}

.icons {
    max-width: 750px;
    margin: 15px;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    padding: 15px;

    .icon {
        margin: 15px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            width: 115px;
            height: 115px;
    
            background-color: var(--colorMainOpacity5);
            border: 3px solid var(--colorMain);
            border-radius: 15px;

            padding: 10px;
        }
        img:hover {
            background-color: rgba(255, 255, 255, 0.7);
            transition-duration: 500ms;
            cursor: pointer;
        }
        span {
            margin-top: 10px;
            font-size: 13px;
            font-weight: bold;
            color: var(--colorMain);
        }
    }
}