<div class="card-title">
    <h1>Games</h1>
    <p>Coding can be fun !</p>
</div>

<div class="icons-container">
    <div class="icon" [class.active]="currentGame === 'higherOrLower'" (click)="selectGame('higherOrLower')">
        <img src="assets/app_icons/high-low.png" />
    </div>
    <div class="icon" [class.active]="currentGame === 'diceRoll'" (click)="selectGame('diceRoll')">
        <img src="assets/app_icons/dice-roll.png" />
    </div>
    <div class="icon" [class.active]="currentGame === 'trainer'" (click)="selectGame('trainer')">
        <img src="assets/app_icons/trainer.png" />
    </div>
</div>

<div [@routeAnimations]="currentGame">
    <ng-container [ngSwitch]="currentGame">
        <app-trainer-notes *ngSwitchCase="'trainer'" key="trainer"/>
        <app-dice-roll *ngSwitchCase="'diceRoll'" key="diceRoll" />
        <app-higher-or-lower *ngSwitchCase="'higherOrLower'" key="higherOrLower" />
    </ng-container>
</div>